* {
    padding: 0;
    margin: 0;
}

.header {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: whitesmoke;
}

.header-container {
    display: flex;
    width: 1370px;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
}

.header-logo {
    width: 76px;
    height: 24px;
    margin-right: 40px;

}

.nav-list {
    gap: 12px;
    display: flex;
    list-style: none;
    color: white;
}

.nav-link {
    padding: 8px 20px;
    text-decoration: none;
    color: #111827;
    font-family: sans-serif;
}

.nav-link3 {
    padding: 8px 20px;
    margin-right: auto;
    text-decoration: none;
    color: #111827;
    font-family: sans-serif;
}

.header-btn {
    margin-left: auto;
    border-radius: 10px;
    padding: 10px;
    border: 3px solid #D1D5DB;
}

.header-btn-blue {
    border-radius: 10px;
    margin-left: 12px;
    color: white;
    background-color: #2563eb;
    padding: 10px;
    border: none;
}

.hero {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #35194C;
}

.hero-container {
    width: 912px;
    margin-right: auto;
    margin-left: auto;
}

.hero-title {
    margin-bottom: 20px;
    font-family: sans-serif;
    font-size: 48px;
    line-height: 56px;
    color: white;
    text-align: center;
    font-weight: 700;
}

.hero-text {
    text-align: center;
    font-family: sans-serif;
    color: white;
    font-weight: 500;
    line-height: 28px;
    font-size: 20px;
}

.section {
    padding-top: 16px;
    padding-bottom: 16px;
}

.section-container {
    width: Fixed (1, 536px)px;
    height: Fixed (80px)px;
    padding: 0px 80px 0px 80px;
    gap: 24px;
    opacity: 0px;
}

.imggg {
    display: flex;
}

.section-btn {
    border-radius: 20px;
    padding: 8px;
    border: 2px solid #D1D5DB;
    display: flex;
    align-items: center;
}

.section-btn {
    margin-left: auto;
}

.div11 {
    display: flex;
    width: 336px;
    gap: 12px;
    opacity: 0px;
    padding: 24px;
    border-radius: 8px;
}

.section-container11 {
    width: 445.33px;
    gap: 24px;
    border-radius: 8px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    padding: 12px;
    border-radius: 24px;

}

.section-btn11 {
    padding: 4px;
}

.h311 {
    margin-bottom: 10px;
}

.section-btn111-blue {
    background-color: #2563EB;
    padding: 12px;
    border-radius: 24px;
}

.section-btn111 {
    padding: 12px;
    border-radius: 24px;
    border: 1px solid #D1D5DB;
}

.div11 {
    display: flex;
    width: 336px;
    gap: 12px;
    opacity: 0px;
    padding: 24px;
    border-radius: 8px;
}

.section-container11 {
    width: 445.33px;
    gap: 24px;
    border-radius: 8px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    padding: 12px;
    border-radius: 24px;

}

.section-btn11 {
    padding: 4px;
}

.h311 {
    margin-bottom: 10px;
}

.section-btn111-blue {
    background-color: #2563EB;
    padding: 12px;
    border-radius: 24px;
}

.section-btn111 {
    padding: 12px;
    border-radius: 24px;
    border: 1px solid #D1D5DB;
}

.div11 {
    display: flex;
    width: 336px;
    gap: 12px;
    opacity: 0px;
    padding: 24px;
    border-radius: 8px;
}

.section-container11 {
    width: 445.33px;
    gap: 24px;
    border-radius: 8px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    padding: 12px;
    border-radius: 24px;

}

.section-btn11 {
    padding: 4px;
}

.h311 {
    margin-bottom: 10px;
}

.section-btn111-blue {
    background-color: #2563EB;
    padding: 12px;
    border-radius: 24px;
}

.section-btn111 {
    padding: 12px;
    border-radius: 24px;
    border: 1px solid #D1D5DB;
}

.div11 {
    display: flex;
    width: 336px;
    gap: 12px;
    opacity: 0px;
    padding: 24px;
    border-radius: 8px;
}

.section-container11 {
    width: 445.33px;
    gap: 24px;
    border-radius: 8px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    padding: 12px;
    border-radius: 24px;

}

.section-btn11 {
    padding: 4px;
}

.h311 {
    margin-bottom: 10px;
}

.section-btn111-blue {
    background-color: #2563EB;
    padding: 12px;
    border-radius: 24px;
}

.section-btn111 {
    padding: 12px;
    border-radius: 24px;
    border: 1px solid #D1D5DB;
}

.div11 {
    display: flex;
    width: 336px;
    gap: 12px;
    opacity: 0px;
    padding: 24px;
    border-radius: 8px;
}

.section-container11 {
    width: 445.33px;
    gap: 24px;
    border-radius: 8px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    padding: 12px;
    border-radius: 24px;

}

.section-btn11 {
    padding: 4px;
}

.h311 {
    margin-bottom: 10px;
}

.section-btn111-blue {
    background-color: #2563EB;
    padding: 12px;
    border-radius: 24px;
}

.section-btn111 {
    padding: 12px;
    border-radius: 24px;
    border: 1px solid #D1D5DB;
}

.div11 {
    display: flex;
    width: 336px;
    gap: 12px;
    opacity: 0px;
    padding: 24px;
    border-radius: 8px;
}

.section-container11 {
    width: 445.33px;
    gap: 24px;
    border-radius: 8px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    padding: 12px;
    border-radius: 24px;

}

.section-btn11 {
    padding: 4px;
}

.h311 {
    margin-bottom: 10px;
}

.section-btn111-blue {
    background-color: #2563EB;
    padding: 12px;
    border-radius: 24px;
}

.section-btn111 {
    padding: 12px;
    border-radius: 24px;
    border: 1px solid #D1D5DB;
}

.bbboooxxx {
    display: flex;
    flex: wrap;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    gap: 15px;
}

.bbtn {
    width: 130px;
    height: 38px;
    gap: 8px;
    border-radius: 24px;
    opacity: 0px;
}
.said{
    text-align: center;
}